body{
background-color: #F8F8FF;
margin: 0;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
box-sizing: border-box;
}

.wrapper{
text-align:center;

}

#login{
    margin-top: 55px;
    margin-bottom: 20px;

}

.container1{
    display: inline-block;
    width: 350px;
    height: 290px;
    background-color: white;
    border: 1px solid darkgray;
    padding: 15px;
    margin: 40px;
    justify-items: center;
    margin-top: 0;
    box-shadow: 2px 2px darkgray;
}

#login-btn {
  background-color: #A3CB38;
  border: none;
  color: white;
  padding: 5px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  width: 100%;
  border-radius: 4px;
  height: 50px;
  
}



#forgot-pass{
font-size: 10px;
text-decoration: none;
color: black;
margin: 10px;
padding: 10px;
}

.free-account{

    background-color: #F8F8FF;
    width: 350px;
    height: 100px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid darkgray;
    margin: 40px;
    padding: 15px;
    position: relative;
    box-shadow: 2px 2px darkgray;

}

.content {

    text-align: center;
    padding: 20px;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.free-account h1{

    color: #3C49A9;
    font-size: 15px;
}

.free-account p{

    font-size: 10px;
}

.left-panel{
display: table-cell;
height: 100%;
width: 20%;
margin: 0 auto;
position: relative;
top: 50%;
transform: translateY(30%);
}


.middle-panel{
    width: 50%;
    height: 100%;
    display: table-cell;

}
.middle-panel a:hover{
    color: white;
}

.middle-panel a{
    text-decoration: none;
    color: black;
}

.middle-panel ul{
    list-style: none;
    
}

.middle-panel li{
    margin: 15px;
    display: inline-block;
    
}
#signup-btn{
    background-color: darkgray;
    border: 1px bold black;
    color: white;
    padding: 3px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    width: 100%;
    border-radius: 4px;
    
}

.right-panel{
    display: table-cell;
    list-style: none;
    height: 100%;
    width: 30%;
}

.right-panel a{
    text-decoration: none;
    color: black;
}

.right-panel a:hover{
    color: white;
}

.right-panel li{
    display: inline-block;
    margin: 15px;
}


.panel-wrapper{
    background-color: #F8F8FF;
    width: 100%;
    height: 90px;
    

}

#email{
    display: inline-block;
    width: 100%;
    text-align: left;

}

#password{
    display: inline-block;
    width: 100%;
    text-align: left;
}

.form{
    margin: 15px;
}

#label{

    margin: 0;
}

.input{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 40px;
}

.login-success-wrapper{
    background-color: #F8F8FF;
}
.success-text{
    font-size: 20px;
    text-align: center;
    margin: 100px;
}

